<!DOCTYPE html>
<html>
<head>
    <title>Thông báo: Có ứng viên mới</title>
</head>
<body>
    <p>Chào bạn,</p>
    <p>Tin tuyển dụng <strong>{{ job_title }}</strong> của công ty bạn vừa nhận được một hồ sơ ứng tuyển mới.</p>
    <p><strong>Thông tin ứng viên:</strong></p>
    <ul>
        <li>Họ tên: {{ candidate_name }}</li>
        <li>Email: {{ candidate_email }}</li>
        <li>Số điện thoại: {{ candidate_phone }}</li>
    </ul>
    <p>Vui lòng đăng nhập vào hệ thống để xem chi tiết hồ sơ và CV đính kèm.</p>
    <p>Trân trọng,<br>Đội ngũ [Tên Website Của Bạn]</p>
</body>
</html>